*{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgb(129, 217, 233), rgb(150, 235, 241), rgb(123, 123, 230), rgb(61, 71, 212));
  background-position: 100vh;
  background-size: cover;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 60%;
  padding: 0.5rem;
  box-shadow: 10px 5px 5px ;
  border: 1px solid black;
  border-radius: 15px;
}

h1{
  font-size: 2.5rem;
}

p{
  font-size: 2rem;
  font-weight: bold;

}

input{
  padding: 7px;
  font-size: 1rem;
  background-color: #ddd;
}

button{
  margin-left: 5px ;
  font-size: 1rem;
  background-color: #ddd;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #d3d3d3;

}

.description{
  margin-top: 0;
  display: flex;
  
}

.text{
  color:#292828;
}

